<h1 class="text-center text-white">
    <span class="code-grey"><</span><span class="code-blue">h1</span><span class="code-grey">></span>{{ text }}<span class="code-grey"><</span><span class="code-grey">/</span><span class="code-blue">h1</span><span class="code-grey">></span>
</h1>
