<nav>
	<ul>
		<div class="dropdown">
			<div class="dropdown-content">
				<a href="#">
					Kontaktiere mich
				</a>
				<a href="#">Lebenslauf
				</a>
				<a href="#">Services
				</a>
			</div>
			<button class="Mehr" data-hover="CLICK ME">^
			</button>
			<h1 class="Name">Nils Schmidt</h1>
		</div>
	</ul>
</nav>
