<p class="text-center">
    <span class="code-grey"><</span><span class="code-blue">p</span><span class="code-grey">></span>{{text}}<span class="code-grey"><</span><span class="code-grey">/</span><span class="code-blue">p</span><span class="code-grey">></span>
</p>