<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nils Schmidt {% block title %}{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include 'elements/navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
